# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/

# IDEs
project.md
resources/realtime.md
resources/realtime_api_reference.md
resources/voice_agents.md
resources/speech-to-text.md
resources/text-to-speech.md
notes.md
